@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bruno Ace", cursive;
  overflow-x: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("imagens/plouzane-g739637425_1280.jpg");
  background-size: cover;
}

.wave {
  min-height: 100%;
  min-width: 100%;
  height: 100%;

  background-color: white;
  opacity: 70%;
  clip-path: circle(57.3% at 2% 0);
  right: 0;
  bottom: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: flex;
  filter: drop-shadow(1px 1px 10px black);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
  align-items: center;
}

.title {
  display: flex;
  padding-left: 2%;
}

.title > img {
  display: flex;
  width: 60px;
  border-radius: 50%;
}

.header a {
  margin: 5px;
  color: rgb(8, 8, 8);
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-between;
}

.navlink,
.navlink > a {
  color: #ccc;
}

.header > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



main {
  height: 400px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.frase {
  margin-top: 2%;
}

.frase > h1 {
  color: gray;
  margin-bottom: 0;
  font-size: 20px;
  padding-left: 10px;
}

.frase > h2 {
  margin-bottom: 0;
  margin-top: 0;
  color: black;
  font-size: 18.8px;
  padding-left: 10px;
}

.frase > h3 {
  margin-top: 0;
  color: rgb(13, 13, 172);
  font-size: 21.8px;
  padding-left: 10px;
}

.button {
  margin-left: 5px;
  display: block;
  cursor: pointer;
  font-family: "Bruno Ace", cursive;
  color: white;
  font-style: unset;
  border: solid 10px rgb(13, 13, 172);
  background-color: rgb(13, 13, 172);
  text-decoration: none;
  text-align: center;
  border-radius: 55px;
  max-width: 100%;
  margin-top: 1%;
}

@keyframes animacao_button {
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}
.button:hover {
  animation: animacao_button 0.25s infinite;
}

form {
  display: flex;
  margin-top: 7%;

  font-family: "Bruno Ace", cursive;
}

form > button {
  color: white;
  background-color: rgb(13, 13, 172);
  border: rgb(13, 13, 172);
  width: 150px;
  font-family: "Bruno Ace", cursive;
  margin-left: 6px;
  border-radius: 6%;
}

input#email,
#nome {
  border: white;
  width: 370px;
  height: 60px;
  text-align: center;
  border-radius: 2%;
}

.cadastro > h4 {
  margin-top: 2%;
  font-size: 20px;
  display: flex;
  text-align: justify;
  color: rgb(0, 0, 0);
}

.footer {
  color: white;
  font-size: 9px;
  display: flex;
  flex-direction: row;
  margin-top: 300px;
}

.primeiro > p {
  font-size: medium;
  text-align: justify;
  margin: 2%;
  margin-right: 80px;
}

.primeiro > h1 {
  text-align: center;
}

.tela {
  visibility: hidden;
  display: none;
}
